<li>
  <%= link_to user.name, user %><br>
  | <%= link_to "削除", user, method: :delete, date: { confirm: "削除してもよろしいですか？" }, class: "btn btn-primary" %><br>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "基本情報編集", basic_info_path(user), class: "btn btn-primary" %>
  <% end %>
</li>