<% provide(:title, '一覧') %>

<% if params[:search].nil? %>
  <h1>ユーザー一覧</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class="container">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>


<ul class="users">
  <%= render @users %>
</ul>


</div>